.messageBoard {
    position: absolute;
    right: 40px;
    background-color: #33a8aecd;
    padding: 20px 20px;
    border-radius: 25px;
    border: 1px solid #33aea0;
    box-shadow: 0 0 30px #3397ae ;
    will-change: opacity;
    animation: showErr .6s forwards ease-in-out, hideErr .6s forwards 3s ease-in-out;;
    z-index: 4;
  }

  .messageBoard_error {
    background-color: #ae3358da;
    border: 1px solid #ae3343;
    box-shadow: 0 0 30px #ae3358 ;
  }

  .messageBoardText {
    margin: 0;
    color: rgba(255, 255, 255, 0.79);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
  }
  
  @keyframes showErr {
    from {
      top: 85px;
      opacity: 0;
    }
    to {
      top: 150px;
      opacity: 1;
    }
  }
  
  @keyframes hideErr {
    from {
      top: 150px;
      opacity: 1;
    }
    to {
      top: 85px;
      opacity: 0;
    }
  }