/* .Calculator{

} */

.calculatorTitle {
    margin: 0 auto 10px;
    font-weight: 600;
}

@media screen and (max-width: 575px) {
    .calculatorTitle {
        padding: 0 10px;
    }
}

.calculatorSubtitle {
    margin: 0 auto;
    font-weight: 500;
    max-width: 680px;
}



@media screen and (max-width: 1199px) {
    .calculatorSubtitle {
        max-width: 100%;
        padding: 0 90px;
    }
}

@media screen and (max-width: 991px) {
    .calculatorSubtitle {
        padding: 0 40px;
    }
}

@media screen and (max-width: 575px) {
    .calculatorSubtitle {
        padding: 0 20px;
    }
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    margin: 60px 10%;
    border: 2px solid rgba(0, 0, 0, 0.351);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 20px 0 5px;
    background-color: #ffffff8d;
}

@media screen and (max-width: 1199px) {
    .calculatorContainer {
        margin: 30px 5%;

    }
}


.calculatorName {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: rgb(176, 10, 82);
}

@media screen and (max-width: 575px) {
    .calculatorName {
        padding: 0 10px;
    }
}

.calculateContainer {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 0;
    margin: 0 10%;
}

@media screen and (max-width: 575px) {
    .calculateContainer {
        padding: 0 0 40px;
        margin: 0 1%;
    }
}

.sectionMainTitle {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 7px 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #3397ae44;
    color: #000000be;
}

@media screen and (max-width: 575px) {
    .sectionMainTitle {
        font-size: 18px;
    }
}

.subsectionTitle {
    box-sizing: border-box;
    margin: 50px auto 20px;
    padding: 7px 10px;
    max-width: 640px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #000000dd;

}

@media screen and (max-width: 1199px) {
    .subsectionTitle {
        max-width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: keep-all break-all;
        line-break: loose normal strict;
        hyphens: none auto;
    }
}

@media screen and (max-width: 575px) {
    .subsectionTitle {
        padding: 0;
    }
}

.calculateList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

.calculateItem {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.241);
    margin-top: 20px;
}

@media screen and (max-width: 1199px) {
    .calculateItem {
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    .calculateItem {
        gap:0;
    }
}

.itemName {
    width: 100%;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    max-width: 600px;
    text-align: left;
}

@media screen and (max-width: 1299px) {
    .itemName {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .itemName {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .itemName {
        text-align: center;
    }
}



.nameOptionContainer {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0;
}

.nameOption {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.811);
}

.nameOption label {
    text-align: start;
}

.productsAttention {
    margin: 20px 0 0;
    font-size: 21px;
    font-weight: 600;
    color: rgb(227, 10, 90);
    text-transform: uppercase;
    animation: blink2 1.4s linear infinite;
}

.giftBonusProduct {
    color: rgb(176, 10, 82);
    font-size: 18px;
    font-weight: 500;
}

@keyframes blink2 {
    100% {
        color: rgba(227, 10, 53, 0);
    }
}

.priceContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1299px) {
    .priceContainer {
        margin-right: auto;
    }
}

@media screen and (max-width: 1199px) {
    .priceContainer {
        margin: 0;
    }
}

.productPrice {
    margin-right: 10px;
    font-size: 21px;
    font-weight: 500;
}

.priceCurrency {
    font-size: 21px;
    font-weight: 500;
}

.countContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 220px;
}

@media screen and (max-width: 1199px) {
    .countContainer {
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 991px) {
    .countContainer {
        gap: 0;
    }
}

@media screen and (max-width: 575px) {
    .countContainer {
        flex-direction: column;
        gap: 20px;
    }
}

.countTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.productCount {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: rgb(176, 10, 82);
}

.productCountCapture {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.countButtonContainer {
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

.countButton {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    font-size: 19px;
    font-weight: 500;
    border-radius: 100px;
    border: 1px solid #828282;
    background-color: #F0F0F0;
    cursor: pointer;
}

.countButton:hover {
    background-color: #dbdbdb;
}

.countPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 80px 20px 0;
}

.totalPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 40px 0;
}

@media screen and (max-width: 575px) {
    .totalPriceContainer {
        padding: 0;
        padding-top: 40px;
        align-items: center;
    }
}

.totalPrice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priceCapture {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

.priceNumber {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    color: rgb(176, 10, 82);
}

.totalPriceCurrency {
    font-size: 26px;
    font-weight: 500;
}

.specialOffer {
    height: 50px;
    overflow: hidden;
    position: relative;
    margin: 50px 5px 0;
    background-color: #0000000b;
    border-radius: 0 0 30px 30px;
}

.specialOffer__title {
    font-size: 19px;
    color: #90385db1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    will-change: transform;
    text-transform: uppercase;
    transform: translateX(100%);
    animation: marquee 24s linear infinite;
}

@media screen and (max-width: 1011px) {
    .specialOffer {
        display: none;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* .totalDiscount {
    display: flex;
    align-items: center;
    gap: 10px;
} */

/* .priceDiscountCapture {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

.priceDiscountNumber {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: rgb(176, 10, 82);
}

.priceDiscountCurrency {
    font-size: 30px;
    font-weight: 400;
}

.discountContainer {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
    width: 100%;
}

.totalDiscountPrice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discountCapture {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.discountNumber {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: rgb(176, 10, 82);
} */