.MainTitle {
  padding: 50px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 575px) {
  .MainTitle {
      padding: 40px 40px 60px;
  }
}

.title {
  margin: 0;
  color: #000;
  font-size: 29px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
}

@media screen and (max-width: 575px) {
  .title {
      font-size: 26px;
  }
}