@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 400;
  src: url(./vendor/fonts/Montserrat-Regular.woff2) format('woff2'),
    url(./vendor/fonts/Montserrat-Regular.woff) format('woff')
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 500;
  src: url(./vendor/fonts/Montserrat-Medium.woff2) format('woff2'),
    url(./vendor/fonts/Montserrat-Medium.woff) format('woff')
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 600;
  src: url(./vendor/fonts/Montserrat-SemiBold.woff2) format('woff2'),
    url(./vendor/fonts/Montserrat-SemiBold.woff) format('woff')
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 700;
  src: url(./vendor/fonts/Montserrat-Bold.woff2) format('woff2'),
    url(./vendor/fonts/Montserrat-Bold.woff) format('woff')
}


body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}